.lab-unit{
	width:128px;
	text-align: center;
	background: #fff;
	margin: 20px 10px;
	padding: 20px;
	color:#8a8a8a;
	cursor: default;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 2px;
	user-select: none;
	border-bottom: 3px solid #fff;
	float: left;
	overflow: hidden;
	min-width: min-content;
}

.lab-unit:hover{
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	border-bottom: 3px solid #009688;
}

.lab-unit-label{
	font-size: 17px;
	font-variant-caps:all-small-caps;
	padding-bottom: 10px;
}

.lab-unit-button{
	padding: 7px;
	margin-top: 5px;
	background: #009688;
	color:	#fff;
	cursor: pointer;
	transition: all 0.2s ease;
}

.lab-unit-button:hover{
	background: #02b1a1;
}

.lab-unit-button.mode-blue{
	background: #2196f3;
}

.lab-unit-button.mode-blue:hover{
	background: #03a9f4;
}

.lab-unit-button.mode-red{
	background: #dc3c30;
}

.lab-unit-button.mode-red:hover{
	background: #ea463a;
	letter-spacing: 2px;
}

.lab-unit-app-button:hover{
	background: #026158;
	color: #fff !important;
	cursor: pointer;
	transition: all 0.2s ease;
	border: 2px solid #026158 !important;
}

.lab-unit input{
	border:2px solid #009688;
	width:128px;
	font-size: 16px;
	padding: 6px;
	color:#009688;
	border-radius:3px;
}

.lab-unit-tag{
	background: #f9f9f9;
	color: #2196f3;
	width: max-content;
	padding: 5px;
	border: 1px solid #4dc6fd;
	border-radius: 5px;
	margin: 5px;
}

.lab-unit-tag.lab-unit-edit{
	border: 1px dashed #4dc6fd;
	cursor: text;
}

.lab-stat-block{
	text-align:left;
	background:#f9f9f9;
	padding:10px;
	margin: 5px;
	border: 1px solid #e2e2e2;
	float: left;
}

.lab-stat-block-label{
	text-align:center;
	padding:5px;
	font-weight:900;
	font-variant:all-small-caps;
}

.unit-fullsize-button{
	margin:0px 97%;
	width:10px;
	border: 2px solid #ccc;
	padding:3px;
	transition: all 0.2s ease;
}

.unit-fullsize-button:hover{
	background: #ccc;
}

.unit-fullsize{
	margin: auto;
	height: 100%;
	width:97%!important;
	position: absolute;
	left: 0;
	z-index: 100;
}

.lab-condition{
	background: #3e3e3e;
	color: #fff;
	padding: 3px 5px;
	border-radius: 5px;
}

.lab-delete-condition{
	padding: 3px 6px;
	background: #f44336;
	color: #fff;
	border-radius: 5px;
}
